/* Personal Page Stylesheet - Michael Souter */
.overlord {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../img/cottage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0;
}

.headbar, .footbar {
  display: flex;
  background-color: rgba(0,0,0,0.8);
  background-blend-mode: multiply;
  justify-content: center;
  align-items: flex-end;
}

.mainview {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.main-content {
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: multiply;
  margin: 40px 80px;
  padding: 30px;
  border-radius: 40px;
  flex: 1;
  order: 0;
  color: Black;
}

.main-content h1 {
  font-family: 'Rock Salt', cursive;
}

.main-content p {
  text-indent: 4em;
  font-family: Helvetica, sans-serif;
}

.main-blank {
  flex: 1;
  order 0;
}

.main-nav {
  display: flex;
  flex-direction: row;
  flex: 0 0 2em;
  padding: 0;
  order: 1;
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: multiply;
}

.nav-list, .soc-list {
  padding: 0px 20px;
  margin: 0px 20px;
  list-style: none;
  align-items: flex-end;
}

.nav-list {
  flex: 1;
}

.nav-list-item {
  float: left;
}

.soc-icon {
  line-height: 0.8em;
  float: right;
}

a:link, a:visited {
  display: block;
  padding: 0px 16px;
  text-decoration: none;
  font-family: 'Rock Salt', cursive;
  font-size: 1.4em;
  color: Black;
}

a:hover, a:active {
  color: SlateGrey;
}

#top-text, #foot-text {
  font-family: 'Bungee', cursive;
  color: White;
  text-align: center;
  line-height: 1.0;
}
