/* Personal Page Stylesheet - Michael Souter */
.overlord {
  background-image: url("../img/cottage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.headbar, .footbar {
  background-color: rgba(0,0,0,0.8);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Bungee', cursive;
  color: White;
  text-align: center;
  line-height: 1.0;
}

.mainview {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.main-blank, .main-content {
  flex: 1;
  order 0;
}

.main-content {
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: multiply;
  margin: 40px 80px;
  padding: 30px;
  border-radius: 40px;
  color: Black;
}

.main-content img {
  max-width: 40%;
  min-width: 300px;
  height: auto;
  float: right;
  margin: 0px 20px;
}

.main-content h1 {
  font-family: 'Rock Salt', cursive;
}

.main-content p {
  text-indent: 2em;
  font-family: Helvetica, sans-serif;
}

.main-content a:link, .main-content a:visited {
  text-decoration: none;
  color: Blue;
}

.main-content a:hover, .main-content a:active {
  color: SlateGrey;
}

.main-nav {
  display: flex;
  flex-direction: row;
  flex: 0 0;
  padding: 0;
  order: 1;
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: multiply;
}

.nav-list, .soc-list {
  padding: 0px 20px;
  margin: 0px 20px;
  list-style: none;
  align-items: flex-end;
}

.nav-list {
  flex: 1;
}

.nav-list-item {
  float: left;
}

.soc-icon {
  line-height: 0.8em;
  float: right;
}

.main-nav a:link, .main-nav a:visited {
  display: block;
  padding: 0px 16px;
  text-decoration: none;
  font-family: 'Rock Salt', cursive;
  font-size: 1.4em;
  color: Black;
}

.main-nav a:hover, .main-nav a:active {
  color: SlateGrey;
}

@media only screen and (max-width: 500px) {
  .main-content {
    margin: 10px 2px;
    padding: 2px;
    border-radius: 10px;
  } 
  .main-content h1 {
    text-align: center; 
  }
}
